<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Cube.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>DynamicMesh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>Extensions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>GLFWApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>GLFWwindow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Immediate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>ImmediateTriangles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Keyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Lighting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>LightingAndTexture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Model.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ModelView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Mouse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Texture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TextureLoader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TriangleBuffer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>TriangleColorBuffer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>TriangleOrtho.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Version.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>accuracy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>clipboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>defaults.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>events.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>fsaa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>gamma.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>glfw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>glfwinfo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>iconify.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>joysticks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>modes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>peter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>reopen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>sharing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>tearing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>threads.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>title.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>windows.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0067C647B781481189022C51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>023F26645A794C05B28D4852</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02729EEE749646298BA2750E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>032DE6371DD3461B922BA773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BB6D34BAFCF4E2B8D0E8090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E7E7F2DDA3641569F8E4A82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1628B3C60E454CFC8A39EE9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1ABE9CD7F68A4CE699DDC4FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2524206A0B834AE0AC4B8C82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28099E9384BF4740A52F13E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D913A2148D946678CAD3D0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36CEFDE5DA214C81A4EDB847</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44A5A0082F514FADB1BC90BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47E9270810B64FFBB7C5FA97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BE929A3669A485FB876355C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68513FE854F74481AC4C5060</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>698051C7566B40DC8E7F5F74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B217E0C022D48AE9D88D3F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B743204D41A46779AC08FD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73C8B66921F0422B9319334D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CF7C5C66E704D699DBB53AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EB8BCC30B6649DBA6773DED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88ED920330D74532A0EEB562</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94CC6EF03A964780AB3A12E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99F692D8552444689550C6A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0F0764AFF88484EB1E8729E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B140DF4155E940499545D0C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B36D6308171E4D7AA115DF27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4C93A337E5A423694D0A5F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6F404012E33435EAC6E06E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B810CDA0BEF642BBBA502C09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9AB897842E54979B5522CE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEA61FC0440A406C946C2490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3182186C6914AAA85395490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C537B3DECCA0464C8FB41BB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAD876B7C4044EA29046D598</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1E8FD57BC754669ABC90DC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC2A8F4C15164C8DB83ED627</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE2DFA6C97EB429EA576BCD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F708ABBBCDE342159BE9E601</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F92E310575B140FF90BEF937</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
